html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.1.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js")
    script(src="/scripts/index.js")
  body
    h1=`Name:  ${book.name}`
    h2=`Author: ${book.author}`
    div=`createdAt: ${book.createdAt}`
    div=`takerName: `
        p(id="takerName")=book.takerName || "Exists"
    div=`takenUntil: ${book.takenUntil || "Exists"}`

    form(action="/take" id="take_button" method="post")
        input(type="submit" value="Take")
        input(type="hidden" name="name")
        input(type="hidden" name="id" value=book.id)


    form(action="/return" id="return_button" method="post")
        input(type="submit" value="Return")
        input(type="hidden" name="name")
        input(type="hidden" name="id" value=book.id)


    div
        br
        b="Change"
        form(action="/change" method="post")
            input(type="text" name="name" value=book.name)
            br
            input(type="text" name="author" value=book.author)
            br
            input(type="text" name="createdAt" value=book.createdAt)
            br
            input(type="hidden" name="id" value=book.id)
            input(type="submit" value="Change")

