html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.1.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js")
    script(src="/scripts/index.js")
  body
    div
      div(class="book")
        div(class="book-line")="id"
        div(class="book-line")="name"
        div(class="book-line")="author"
        div(class="book-line")="createdAt"
        div(class="book-line")="takerName"
        div(class="book-line")="takenUntil"
      div(id="container")
        each val in books  
          div(class="book")
            div(class="book-line")
              a(href=`/${val.id}`)="look"
            div(class="book-line")=val.name
            div(class="book-line")=val.author
            div(class="book-line")=val.createdAt
            div(class="book-line")=val.takerName
            div(class="book-line")=val.takenUntil
    div
      form(action="/add" method="post")
        input(type="text" name="name" placeholder="name")
        input(type="text" name="author" placeholder="author")
        input(type="date" name="createdAt" placeholder="createdAt")
        input(type="submit" value="add")

    div
      form(id="all")
        input(type="submit" value="get_all")

    div
      form(id="existed")
        input(type="submit" value="get_existed")

    div
      form(id="taken_until")
        input(type="submit" value="get_by_taken_until")
        input(type="date" name="date" placeholder="taken_until")

    div
      form(id="reset_user")
        input(type="submit" value="reset_user")

